body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; /* optional */
  padding: 10px; /* optional */
}

.up a:first-child {
  margin-left: auto; /* push the links to the right */
}

.up a {
  margin: 0 10px; /* optional */
  text-decoration: none;
  color: #337ab7; /* optional */
}

.up a:hover {
  color: #23527c; /* optional */
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.url-bar {
    display: flex;
    align-items: center;
}

.url-bar span {
    margin-right: 10px;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    border-radius: 34px;
}

.switch label::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.2s;
    border-radius: 50%;
}



input:checked + label::before {
    transform: translateX(14px);
}

main {
    display: flex;
    flex-direction: column;
}

.selection-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.info-box h2 {
    margin-top: 0;
    font-size: 20px;
}

.info-box a {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.order-info {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.timer, .order-status {
    margin-bottom: 10px;
}

.table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    max-width: 200px; /* lub inna odpowiednia wartość */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

table th {
    max-width: 200px; /* lub inna odpowiednia wartość */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

table th {
    background-color: #f2f2f2;
}
/* Ustaw szerokość dla wybranej kolumny */
table th:nth-child(2), table td:nth-child(2) {
    width: 70%; /* Dostosuj wartość według potrzeb */
}



dodaj-pozycje3{
    margin-top: 20px;
    text-align: right;
}


btn button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Stylizacja formularza */
#orderForm {
    width: 400px; /* Ustawienie stałej szerokości */
    height: auto; /* Możesz ustawić stałą wysokość, jeśli chcesz */
    max-height: 600px; /* Opcjonalnie, aby ograniczyć maksymalną wysokość */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #f9f9f9;
    overflow-y: auto; /* Dodanie przewijania, jeśli zawartość przekroczy wysokość */
}

#orderForm div.typ {
    margin-bottom: 20px;
}

#orderForm p {
    margin-bottom: 10px;
    font-weight: bold;
}

#orderForm label {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

#orderForm input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

#orderForm textarea {
    width: calc(100% - 20px); /* Zmniejszenie szerokości o marginesy */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 0; /* Usunięcie marginesu po prawej */
    margin-left: 0; /* Usunięcie marginesu po lewej */
}

#orderForm button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.footer {
    text-align: left;
    padding: 20px;

}

.footer-text {
    margin-bottom: 10px;
}

.footer-contact {
    font-style: italic; /* Opcjonalnie, aby wyróżnić kontakt */
}

.styled-button {
    background-color: #4CAF50; /* Zielony kolor */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 8px; /* Zaokrąglone rogi */
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #45a049; /* Ciemniejszy zielony przy najechaniu */
}

.styled-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (min-width: 1920px) and (max-height: 1200px) {
    .container {
        width: 85%; /* Dostosowanie szerokości kontenera */
        max-width: 1800px; /* Zwiększenie maksymalnej szerokości na duże ekrany */
        margin: 30px auto; /* Większy margines, aby zawartość nie była "sklejona" z krawędziami */
    }

    header h1 {
        font-size: 28px; /* Większa czcionka nagłówka dla lepszej czytelności */
    }

    .info-box, .order-info {
        width: 48%; /* Dostosowanie szerokości boksów, aby lepiej pasowały do szerszego ekranu */
    }

    table th, table td {
        font-size: 18px; /* Większa czcionka w tabelach na dużych ekranach */
        padding: 15px; /* Większe odstępy w tabeli */
    }
}

